html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.carousel-wrapper {
  width: 600px;
}

.carousel-item {
  max-height: 450px;
}

.carousel-item img {
  max-height: 450px;
}

form {
  height: 85%;
  width: 50%;
}

.btn-position {
  top: 100;
  left: 90;
}

.media img {
  max-height: 200px;
}

.media:nth-child(2n + 1) {
  order: 2;
}

.store_item img {
  max-height: 300px;
}
