html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.carousel-wrapper {
  width: 600px;
}

.carousel-item {
  max-height: 450px;
}

.carousel-item img {
  max-height: 450px;
}

form {
  height: 85%;
  width: 50%;
}

.btn-position {
  top: 100;
  left: 90;
}
